.product-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-flow: row dense;
  margin-top: 20px;
}

.product-container input {
  margin-right: 8px;
}

select {
  padding: 10px 0px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  &:focus {
    outline: none;
    border: none;
  }
}

option {
  font-size: 18px;
  text-align: right;
  padding: 20px 5px !important;
  &:checked {
    font-weight: 700;
  }
}

aside {
  grid-row-start: 1;
  grid-row-end: -1;
  max-height: 100vh;
  overflow-y: auto;
}

.grid-cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-cols-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-list {
  display: grid;
  gap: 10px;
  align-content: start;
  justify-items: center;
}

.product-item {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 4px;
}

.product-image {
  width: 300px;
  height: 399px;
}

.product-data {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mobile-filter {
  font-weight: 700;
  font-size: 14px;
  width: 50%;
  display: none;
  justify-content: space-around;
}

.product-section hr {
  margin: 10px 0px;
}

.unselect {
  text-decoration: underline;
  color: #bfc8cd;
  cursor: pointer;
}

@media (max-width: 1240px) {
  .grid-cols-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1024px) {
  .grid-cols-4 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-cols-3 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 540px) {
  .product-container {
    position: relative;
  }
  .product-image {
    width: 168px;
    height: 224px;
    object-fit: cover;
  }
  select {
    width: 50%;
  }
  .product-section hr {
    margin: 5px 0px;
  }

  aside {
    position: absolute;
    background: white;
    top: -16px;
    left: 0px;
    width: 200px;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid black;
    padding: 10px;
  }
  option {
    font-size: 10px;
    text-align: right;
  }
  .mobile-filter {
    display: flex;
  }
}
