.headerContainer {
  width: 100%;
  font-family: "Simplon Norm", sans-serif;
}

.blackStrip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 8px 274px;
  color: #eb4c6b;
}

.stripItem {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 8.33%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  margin-bottom: 40px;
  background-color: #fff;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoText {
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  right: 45%;
  letter-spacing: 2.78%;

}

.logoText a {
  color: #000;
  text-decoration: none;
}

.headerRight {
  display: flex;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.language {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 6.25%;
}

.arrowDown {
  transform: rotate(90deg);
}

.navigation {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
}

.navigation ul {
  display: flex;
  gap: 64px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 5%;
}

.navigation a {
  color: #252020;
  text-decoration: none;
}

.navigation .active a {
  position: relative;
}

.navigation .active a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

@media (max-width: 1200px) {
  .blackStrip {
    padding: 8px 40px;
  }
}

@media (max-width: 992px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }

  .logoText {
    margin: 10px 0;
  }

  .navigation ul {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .navigation ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .blackStrip {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }
}
