.filterContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  transition: all 0.3s ease;
}

.filterHeader {
  padding-bottom: 24px;
}

.customizableFilter {
  display: flex;
  align-items: center;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkboxContainer input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border: 1px solid #4d4d4d;
  cursor: pointer;
}

.checkboxContainer label {
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
}

.filterSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filterTitle {
  cursor: pointer;
}

.filterName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterLabel {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.filterValue {
  font-size: 18px;
  margin-top: 8px;
}

.arrowButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotated {
  transform: rotate(180deg);
}

.rotateLeft {
  transform: rotate(-90deg);
}

.filterOptions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.filterOption {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filterOption input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.filterOption label {
  font-size: 16px;
  cursor: pointer;
}

.filterActions {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.hideFilterButton {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-light);
  font-size: 16px;
}

/* Responsive styles */
@media (max-width: 992px) {
  .filterContainer {
    position: fixed;
    top: 0;
    left: -320px;
    height: 100vh;
    background-color: white;
    z-index: 1000;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }

  .visible {
    left: 0;
  }
}
